/*selectores de etiqueta*/
body {
    margin: 0%;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

h1{
    color: rgb(88, 88, 240);
    text-align: center;
}

h2{
    color: rgb(88, 88, 240);
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 18px;
}



.fuente {
    font-size: 20px;
}

.texto{
    display: flex;
    flex-direction: column;
}

nav{
    background-color: aquamarine; 
    display: flex;
    justify-content: flex-end;
}

nav ul {
    font-size: 20px;
    list-style: none;
    display: flex;
    justify-content: end;
}

nav img{
    padding: 10px 800px;
    width: 60px;
    margin-top: 5px;
}

nav li {

    padding: 15px;
}

nav li a:hover{
    background-color: rgb(136, 203, 241);
    height: 50%;
    transition: all 600ms ease-in-out;
    border-radius: 5%;
}

nav a {
    color: black;
    text-decoration: none;
}

/*selector de iD*/
#miId {
    text-align: center;
}
.principal{
    display: flex;
    justify-content: space-around;
}
.principal img{
    margin-right: 10%;
    width: 600px; 
    border-radius: 50%;
    margin: 3%;
}

.principal p{
    padding: 10%;

}
.container {
    display: flex;
    justify-content: center;
    margin-left: 7%;
}
.container{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 600px;
}
.container img{
    width: 247px;
    height: 290px;
    
}
.container img :hover{
    color: rgba(42, 64, 102, 0.564);
    
}
.card{
    border: 1px rgba(0, 0, 0, 0.378) solid;
    border-radius: 5px;
    width: 250px;
    height: 560px;
    padding: 10px;
    margin: 10px;
}

#container-footer{
    margin-top: 15%;
    background-color: #000;
}

.fuenteUno{
    color: aliceblue;
    margin-top: 5%;
}

.fuenteUno li{
    list-style: none;
    margin-bottom: 20px;
}
.footer-redes p{
    color: azure;
    margin-left: -10%;
}
.footer-redes {
    display: flex;
    justify-content: space-around;
    padding: 5%;
   
}
h5{
    background-color: aquamarine; 
font-size: 25px;
text-align: end;
padding-right: 23%;

}
.noticias img{
    width: 200px;
height: 120px;
}
.noticias{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
}
h3{
    background-color: aquamarine;
}
